<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Confirm Delete Client</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>
    <div class="scrollable-div">
      <div class="scrollable-div">
        <form action="/panel/deleteclient" method="post">
          <fieldset>      
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="id" value="<%= deleteId %>"/>
            <h2>Confirm Delete Client</h2>
            <div class="content-area">
              This will delete client record id=<%= deleteId %> from the database.
            </div>
            <div class="vh-20"></div>
            <div>
              <button class="button" type="submit" value="Submit">Submit</button>
              <a href="/panel/menu"><button class="button lm-20" type="button">Cancel</button></a>
            </div>
          </fieldset>
        </form>
     </div>
    <%- include('menu-footer') %>
  </body>
</html>
