<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New User</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>
    <div class="scrollable-div">
      <h2>Create New User</h2>
      <form action="/panel/createuser" method="post" autocomplete="OFF">
        <fieldset>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

          <table class="account-table" border="1" cellpadding="5px">
            <tr>
              <td><label for "name">name</label></td>
              <td><input class="input" type="text" name="name" autocomplete="OFF" required /></td>
            </tr>
            <tr>
              <td><label for "number">number</label></td>
              <td><input class="input" type="number" name="number" autocomplete="OFF" required /></td>
            </tr>
            <tr>
              <td><label for "username">username</label></td>
              <td><input class="input" type="text" name="username" autocomplete="OFF" required /></td>
            </tr>
            <tr>
              <td><label for="newpassword1">newpassword1</label></td>
              <td><input class="input" type="password" name="newpassword1"
                minlength="<%= opt.minPwLen %>" maxlength="<%= opt.maxPwLen %>"
                autocomplete="new-password" value="" required /></td>
            </tr>
            <tr>
              <td><label for="newpassword2">newpassword2</label></td>
              <td><input class="input" type="password" name="newpassword2"
                minlength="<%= opt.minPwLen %>" maxlength="<%= opt.maxPwLen %>" 
                autocomplete="new-password" value="" required /></td>
            </tr>
            <tr>
              <td><label for "loginDisabled">loginDisabled</label></td>
              <td><input type="checkbox" name="loginDisabled" /></td>
            </tr>
            <tr>
              <td><label for "role">role</label></td>
              <td><textarea type="text" name="role" cols="80" rows="3"><%= defaultUser.role %></textarea></td>
            </tr>
          </table>
          <div class="div-height-20"></div>
          <div>
            <button class="button" type="submit" value="Submit">Submit</button>
            <a href="/panel/menu"><button class="button lm-20" type="button">Cancel</button></a>
          </div>
        </fieldset>
      </form>
      <div class="div-height-20"></div>
    </div>
    <%- include('menu-footer') %>
  </body>
</html>
