<!DOCTYPE html>
<html>
<head>
  <title>Resource Decision</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/dialog.css">
</head>
<body>
<form action="/dialog/authorize/decision" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input name="transaction_id" type="hidden" value="<%= transactionID %>">
  <fieldset>
    <div>
      <div>
        <h2>Resource Decision</h2>
      </div>
      <div>
        <p><%= user.name %>,</p>
        <p>The application <b><%= client.name %></b> is requesting permission
          to access your account.
        </p><p>
          In the future, <b><%= client.name %></b> will use your account with username
          <b><%= user.username %></b> to grant you access to view or store data associated with
          your specific username and password.
        </p>
        <p>Scope:
        <br><%= scopeString %></p>
        <p>Do you approve?</p>
      </div>
    </div>

    <div>
      <div>
        <input type="submit" value="Accept" id="allow" class="button button-accept">
        <input type="submit" value="Deny" id="deny" name="cancel" class="button">
      </div>
    </div>
  </fieldset>
</form>
</body>
</html>
