<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>
    <div class="scrollable-div">
      <h2><%= title %></h2>
      <div class="content-area">
        <p>
          <%= message %>
        </p>
      </div>
      <p>
        Press [Continue] to navigate back to the main web page.
      <p>
      <div>
        <a href="/panel/menu"><button class="button" type="button">Continue</button></a>
      </div>
    </div>
    <%- include('menu-footer') %>
  </body>
</html>
