<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Info</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>
    <div class="scrollable-div">
      <h2>List Clients</h2>

      <table class='user-table' border="1" cellpadding="5">
      <tr>
        <th></th>
        <th>Client ID</th>
        <th>Name</th>
      </tr>
      <% for(var i=0; i < clients.length; i++) { %>
         <tr>
           <td><a href="/panel/viewclient?id=<%= clients[i].id %>"><button class="button">View</button></a></td>
           <td><%= clients[i].clientId %></td>
           <td><%= clients[i].name %></td>
         </tr>
      <% } %>
      </table>

    </div>
    <%- include('menu-footer') %>
  </body>
</html>
