<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Info</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>
    <div class="scrollable-div">
      <h2>List Users</h2>

      <table class='user-table' border="1" cellpadding="5">
      <tr>
        <th></th>
        <th></th>
        <th>Id</th>
        <th>Number</th>
        <th>Username</th>
        <th>Name</th>
        <th>Role</th>
        <th>Last Login</th>
        <th></th>
      </tr>
      <% for(var i=0; i < users.length; i++) { %>
         <tr<%- users[i].trClassTag %>>
           <td><a href="/panel/viewuser?id=<%= users[i].id %>"><button class="button">View</button></a></td>
           <td><a href="/panel/edituser?id=<%= users[i].id %>"><button class="button">Edit</button></a></td>
           <td><%= users[i].id %></td>
           <td><%= users[i].number %></td>
           <td><%= users[i].username %></td>
           <td><%= users[i].name %></td>
           <td><%= users[i].role %></td>
           <td><%= users[i].lastLogin %></td>
           <td><a href="/panel/deleteuser?id=<%= users[i].id %>"><button class="button">Delete</button></a></td>
         </tr>
      <% } %>
      </table>
      <div>
        <div class="vh-20"></div>
        <a href="/panel/createuser"><button class="button">Create New User</button></a>
        <a href="/panel/menu"><button class="button lm-20" type="button">Cancel</button></a>
      </div>
      <div class="vh-20"></div>
    </div>
    <%- include('menu-footer') %>
  </body>
</html>
