<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Client</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>
    <div class="scrollable-div">
      <h2>
        Database Row Count
      </h2>

      <table class="account-table" border="1" cellpadding="5px">
        <tbody>
          <tr><td>Access Tokens</td><td><%= rows.accessToken %></td></tr>
          <tr><td>Refresh Tokens</td><td><%= rows.refreshToken %></td></tr>
          <tr><td>Session Count</td><td><%= rows.sessionCount %></td></tr>
        </tbody>
      </table>

      <div class="vh-20"></div>

      <h2>Transaction Counters</h2>
      <div>
        Reset at start: <%= start %>
      </div>
      <div class="vh-20"></div>

      <table class="account-table" border="1" cellpadding="5px">
        <tbody>
          <tr><td>User Login</td><td><%= counter.userLogin %></td></tr>
          <tr><td>Failed Login</td><td><%= counter.failedLogin %></td></tr>
          <tr><td>Client tokens issued</td><td><%= counter.clientToken %></td></tr>
          <tr><td>User tokens issued</td><td><%= counter.userToken %></td></tr>
          <tr><td>Refresh tokens issued</td><td><%= counter.refreshToken %></td></tr>
          <tr><td>Introspect Calls</td><td><%= counter.introspect %></td></tr>
        </tbody>
      </table>

        <h2>Web Server Traffic</h2>
      <div>
        Reset at start: <%= start %>
      </div>
      <div class="vh-20"></div>

      <table class="account-table" border="1" cellpadding="5px">
        <tbody>
          <tr><td>Total requests</td><td><%= counter.httpRequest %></td></tr>
        </tbody>
      </table>

      <div class="vh-20"></div>
      <div>
        Collab-auth Version: <%= appVersion %>
      </div>

    </div>
    <%- include('menu-footer') %>
  </body>
</html>
