<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Client</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>
    <div class="scrollable-div">
      <h2>View Client Info</h2>
      <table class="account-table" border="1" cellpadding="5px">
        <tr><td>id</td></td><td><%= aclient.id %></td></tr>
        <tr><td>name</td><td><%= aclient.name %></td></tr>
        <tr><td>clientId</td><td><%= aclient.clientId %></td></tr>
        <tr><td>clientSecret</td><td><%= aclient.clientSecret %></td></tr>
        <tr><td>trustedClient</td><td><%= aclient.trustedClient %></td></tr>
        <tr><td>allowedScope</td><td><%= aclient.allowedScope %></td></tr>
        <tr><td>allowedRedirectURI</td><td><%= aclient.allowedRedirectURI %></td></tr>
        <tr><td>Updated At</td><td><%= aclient.updatedAt %></td></tr>
        <tr><td>Created At</td><td><%= aclient.createdAt %></td></tr>
      </table>
      <div class="div-height-20"></div>
      <div>
        <a href="/panel/editclient?id=<%= aclient.id %>"><button class="button" type="button">Edit Client</button></a>
        <a href="/panel/deleteclient?id=<%= aclient.id %>"><button class="button lm-20" type="button">Delete Client</button></a>
        <a href="/panel/listclients"><button class="button lm-20" type="button">Cancel</button></a>
      </div>
      <div class="div-height-20"></div>
    </div>
    <%- include('menu-footer') %>
  </body>
</html>
